--- !pinky.model.Model
name: continuous_train70
layers:
  - !pinky.model.CNNLayer
    name: cnn1
    kernel_width: 10
    kernel_height: 1 # If set to None
    n_filters: 32
  - !pinky.model.CNNLayer
    name: cnn2
    kernel_width: 3
    kernel_height: 3
    n_filters: 64
  - !pinky.model.DenseLayer
    name: dense
    n_filters: 64
  - !pinky.model.DenseLayer
    name: dense_out
    n_filters: 3

config: !pinky.config.PinkyConfig
  normalization: !pinky.data.NormalizeMax {}
  imputation: !pinky.data.ImputationMean {}
  sample_length: 30.
  lowpass: 20.
  highpass: 1.
  tpad: 1.
  reference_station: CO.S001.
  fn_stations: data/meta/stations.txt
  data_generator: !pinky.data.PileData
      data_paths:
        - data/waveforms
      fn_markers: data/meta/markers.txt
      fn_events: data/events.txt
  evaluation_data_generator: !pinky.data.PileData
      data_paths:
        - data/waveforms
      fn_markers: data/meta/markers.txt
      fn_events: data/events.txt
batch_size: 20
