--- !pinky.model.Model
data_generator: !pinky.data.PileData
  fn_stations: stations.pf
  data_path: /media/usb0/vogtland/gse2
  data_format: gse2
  sample_length: 5.
  reference_target: !pyrocko.gf.targets.Target
    lat: 50.2331
    lon: 12.448
    depth: 0.0
    codes: ['', NKC, '', SHZ]
    elevation: 546.0
    interpolation: nearest_neighbor
  fn_markers: markers_phases_events_nkc_P.pf
dropout_rate: 0.1
batch_size: 10
auto_clear: true
