--- !pinky.model.Model
hyperparameter_optimizer: !pinky.optimize.Optimizer
  learning_rate: [0.001, 1.0e-05, 0.0001]
  n_calls: 50
  path_best: winner
data_generator: !pinky.data.GFSwarmData
  fn_stations: stations.pf
  n_sources: 30
  sample_length: 5.
  onset_phase: p
  reference_target: !pyrocko.gf.targets.Target
    lat: 50.2331
    lon: 12.448
    depth: 0.0
    codes: ['', NKC, '', SHZ]
    elevation: 546.0
    interpolation: nearest_neighbor
  quantity: velocity
  noise: !pinky.data.WhiteNoise
    level: 1E-8
  swarm: !swarm.source_region.Swarm
    geometry: !swarm.source_region.CuboidSourceGeometry
      center_lon: 12.45
      center_lat: 50.214
      center_depth: 10000
      azimuth: 170
      dip: 80.0
      tilt: 0.0
      n: 10
      length: 3000.0
      depth: 3000.0
      thickness: 200.0
    timing: !swarm.source_region.RandomTiming
      tmin: 0
      tmax: 86400.0
    mechanisms: !swarm.source_region.FocalDistribution
      n: 100
      base_source: !pf.DCSource
        elevation: 0.0
        depth: 0
        time: 1970-01-01 00:00:00
        stf_mode: post
        magnitude: 6.0
        strike: 170
        dip: 80
        rake: -30
      variation: 5
    magnitudes: !swarm.source_region.GutenbergRichterDiscrete
      mag_min: 0.08
      mag_max: 3.4
      a: 1
      b: 0.5
      increment: 0.1
      scaling: 1.0
      normalize: true
    engine: !pf.LocalEngine
      store_superdirs: [/data/stores]
      store_dirs: []
      default_store_id: qplayground_total_4_mr_full
dropout_rate: 0.1
batch_size: 2
auto_clear: true
